<div class="card m-3" style="width: 18rem;">
<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: "form-control", rows:"3" %>
  </div>
  <div>
    <%= f.label :completed%>
    <%= f.check_box :completed, type:"checkbox"%>
  </div>
  <%= f.submit "Edit Task", class: 'btn btn-primary'%>
<% end %>
</div>

<div class="m-3">
<%= link_to tasks_path do %>
  <i class="fas fa-undo" style="primary"></i> Back to list
<% end %>
</div>